server:
  port: 8082

spring:
  application:
    name: order-service

  cloud:
   openfeign:
    client:
      config:
        default:
          connectTimeout: 5000   # 3 seconds
          readTimeout: 5000 

resilience4j:
  retry:
    instances:
      inventoryService:
        max-attempts: 3
        wait-duration: 2s

  circuitbreaker:
    instances:
      inventoryService:
        sliding-window-size: 5
        failure-rate-threshold: 50
        minimum-number-of-calls: 3
        permitted-number-of-calls-in-half-open-state: 2
        wait-duration-in-open-state: 10s

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true


